@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/2a61d83e6af5b73f8f7751643f767325?family=GreycliffCF-DemiBold);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-size: 16px;
  color: #253342;
  font-family: "GreycliffCF-DemiBold";
  font-weight: 500;
  letter-spacing: 0.5px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.special-offer {
  .s-o-box {
    background: linear-gradient(5deg, #3697c9, #3baddf);
  }
}

header {
  .header-top {
    padding: 17px 0;
    font-size: 13px;
    .turkcell-go {
      img {
        width: 30px;
        height: auto;
        object-fit: cover;
      }
      color: #8e9fad;
    }
  }
  .header-mid {
    .my-account {
      .my-account-button {
        border-radius: 5px;
        border: solid 1px #dee3ed;
        padding: 0 32px 0 25px;
        font-size: 16px;
      }
    }
    .my-basket {
      border-radius: 5px;
      position: relative;
      background-color: #ffc900;
    }
  }
}

.why-us {
  padding: 100px 0;
  background-color: #eff2f5;
  .why-us-bottom {
    .w-u-box {
      .w-u-icon {
        background-color: #27356f;
      }
    }
  }
}

footer {
  width: 100%;
  .footer-top {
    color: white;
    .footer-top-nav {
      padding: 1.875rem 0;
      .f-t-outer-box {
        margin: 0 -0.625rem;
        .f-t-box {
          h3 {
            a:hover {
              color: #ffc900;
              transition: color 0.3s;
            }
          }
          ul {
            font-size: 0.875rem;
            line-height: 1.375rem;
            li {
              a:hover {
                color: #ffc900;
                transition: color 0.3s;
              }
            }
          }
        }
      }
    }
  }
  .footer-mid {
    padding: 1.875rem 0;
    .f-m-outer-box {
      margin: 0 -0.625rem;
      padding: 0 0.625rem;
      .f-m-box-language {
        ul {
          min-height: 38px;
        }
      }
      .f-m-box-social {
        a:hover {
          color: #ffc900;
        }
      }
    }
  }
  .footer-bottom {
    background-color: #263170;
    .f-b-partners {
      padding: 3.25rem 3.625rem 2.625rem;
    }
    .f-b-outer-box {
      padding: 1.0625rem 0 1.375rem 0;
      .f-b-box-left {
        ul {
          li {
            a:hover {
              color: #ffc900;
              transition: color 0.3s;
            }
          }
        }
      }
    }
  }
}
